.referralStats {
    margin-bottom: 30px;
    margin-top: 30px;
}

.statsContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.container, .stats {
    flex: 1;
    border-radius: 20px;
    padding: 20px;
    color: hsl(0 0% 10%);
    background: none;
    border: 0.5rem solid transparent; /* Ensure background doesn't affect shadow */
    box-shadow:
        -.5rem -.5rem 1rem hsl(0 0% 100% / .75),
        .5rem .5rem 1rem hsl(0 0% 50% / .5);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition on transform and box-shadow */
}

.container:hover,
.stats:hover,
.container:focus-visible,
.stats:focus-visible {
    transform: scale(1.02); /* Slightly increased scale */
    box-shadow:
        -.5rem -.5rem 1rem hsl(0 0% 100% / .75),
        .5rem .5rem 1rem hsl(0 0% 50% / .5),
        0 0 10px rgba(0, 0, 0, 0.2); /* Optionally add a bit more shadow on hover */
}

.header {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.boxItem {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 20px;
    font-size: 24px;
    margin: 10px;
    background: none; /* Ensure background doesn't affect shadow */
    box-shadow: 
        inset -5px -5px 9px rgba(255, 255, 255, 0.45), 
        inset 5px 5px 9px rgba(94, 104, 121, 0.3);
    transition: transform 0.3s ease; /* Smooth transition on transform */
}

.boxItem:hover,
.boxItem:focus-visible {
    transform: scale(1.02); /* Slightly increased scale */
}

.point {
    font-size: 36px;
    font-weight: 700;
}

.pointImage {
    width: 50px;
    height: 50px;
}

.points {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 64px;
    font-weight: bold;
    gap: 20px;
}

@media (max-width: 768px) {
    .statsContainer {
        flex-direction: column;
    }

    .container, .stats {
        width: 85%;
    }

    .boxItem {
        padding: 25px;
    }
}