.userInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
    margin-top: 60px;
    font-weight: 600;
    border-radius: 20px;
    padding: 30px;
    background: rgb(0,124,255) !important;
background: linear-gradient(347deg, #006adb 0%, #2e91fc 100%) !important;
    margin-right: 20%;
    margin-left: 20%;

    outline: none;
    transition: all 0.5s;

    &:hover, &:focus-visible {
        scale: 1.01
      }
}

.userbox {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

.userdetails {
    background: rgba(0, 123, 255, 0) !important;
}


.userdetails img {
    width: 50px;
    border-radius: 5px;
    
}

.userdetails p {
    background: rgba(0, 123, 255, 0) !important;
    color: white;
}

.name {
    font-size: 30px;
    background: rgba(0, 123, 255, 0) !important;
}

.userId {
    font-size: 36px;
    
}


.neumorphicbtn {
    font-size: 20px;
    border: none;
    padding: 10px 40px;
    border-radius: 40px;
    color: #6D7587;

    transition: all 0.5s;

    &:hover, &:focus-visible {
        scale: 1.01
      }

    
  }
  

.referralCode {
    background: rgba(0, 123, 255, 0) !important;
}

.refCode {
    font-size: 30px;
    
    
}
.referralCode p {
    background: rgba(0, 123, 255, 0) !important;
    color: white;
}

.refresh_container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background: rgba(0, 123, 255, 0) !important;
}

.refresh_container button img{
    width: 30px;
}

.refresh_container button {
    padding: 15px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Smooth transition over 0.3 seconds */
  
    &:hover,
    &:focus-visible {
      transform: scale(1.05); /* Scale up to 1.21 on hover or focus */
    }
  }
  
  
  


@media (max-width: 768px) {
    .userInfo {
        align-items: unset;
        flex-direction: column;
        width: 100%;
        margin-right: 0%;
        margin-left: 0%;
    }

    .referralCode {
        margin-top: 20px;
    }

    .refresh_container {
        display: flex;
        gap: 20px;
        justify-content: flex-start;
        margin-top: 0px;
    }

    .refresh_container button {
        width: 100%;
        padding: 10px;
    }

    .refCode {
        font-size: 20px;
    }

    .referralCode p {
        font-size: 20px;
        margin-bottom: 15px;
        font-weight: 900;
    }
}