.userInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
    margin-top: 60px;
    font-weight: 600;
    border-radius: 20px;
    padding: 30px;
    background: rgb(0, 124, 255) !important;
    background: linear-gradient(347deg, #006adb 0%, #2e91fc 100%) !important;
    margin-right: 20%;
    margin-left: 20%;

    outline: none;
    transition: all 0.5s;

    &:hover,
    &:focus-visible {
        scale: 1.01
    }
}

.userbox {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.userdetails {
    background: rgba(0, 123, 255, 0) !important;
}

.userdetails img {
    width: 50px;
    border-radius: 5px;
}

.userdetails p {
    background: rgba(0, 123, 255, 0) !important;
    color: white;
}

.name {
    font-size: 30px;
    background: rgba(0, 123, 255, 0) !important;
}

.userId {
    font-size: 36px;
}

.neumorphicbtn {
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 40px;
    color: #ffffff;

    background-color: rgb(230, 230, 230) !important;

    transition: all 0.5s;

    &:hover,
    &:focus-visible {
        scale: 1.01
    }
}

.neumorphicbtn img {
    background-color: rgba(255, 255, 255, 0) !important;
}

.referralLink {
    margin-top: 10px;
    background: rgba(0, 123, 255, 0) !important;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.referralLink a {
    color: rgb(0, 37, 138);
    text-decoration: underline;
}

.referralLink a:hover {
    text-decoration: underline;
}

.referralCode {
    padding: 24px;
    border-radius: 30px;
    color: black !important;

    background-color: #ffffff !important;
    opacity: 0.8;
    background-image: radial-gradient(#444df750 0.5px, #ffffff91 0.5px);
    background-size: 10px 10px;
    scale: 1.001
}

.refCode {
    font-size: 30px;
}

.referralCode p {
    background: rgba(0, 123, 255, 0) !important;
    /* color: white; */
    font-weight: 800 !important;
}

.refresh_container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0) !important;
}

.refresh_container button img {
    width: 30px;
}

.refresh_container button {
    padding: 15px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 1px rgba(0, 0, 0, 0);

    &:hover,
    &:focus-visible {
        transform: scale(1.05);
    }


}

.outer {
    width: 1px;
    height: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.inner {
    position: absolute;
    width: 100%;
    height: 40%;
    background: rgb(255, 255, 255);
    top: 30%;
    box-shadow: 0px 0px 30px 20px rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .userInfo {
        align-items: unset;
        flex-direction: column;
        width: 100%;
        margin-right: 0%;
        margin-left: 0%;
        padding: 10px;
        padding-top: 20px;

    }

    .neumorphicbtn {
        background-color: rgb(231, 231, 231) !important;
        
    }

    .neumorphicbtn img {
        background-color: rgba(255, 255, 255, 0) !important;
    }

    .refCode {
        font-size: 20px;
    }

    .referralLink a {
        color: rgb(0, 37, 138);
        text-decoration: underline;
        font-size: 16px;
    }

    .referralCode p {
        background: rgb(0, 73, 151) !important;
        /* color: white; */
       

    }

    .referralCode {
        margin-top: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .refresh_container {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        color: white;
        background-color:#419af8 !important;
        padding: 20px;
        border-radius: 30px;

    }

    .refresh_container button {
        width: 100%;
        padding: 10px;
    }

    .refCode {
        font-size: 20px;
    }

    .referralCode p {
        font-size: 20px;
        font-weight: 900;
        background: rgba(0, 123, 255, 0) !important;
    }
}