@font-face {
    font-family: 'NotoSans';
    src: url('../src/assets/NotoSans-VariableFont_wdth\,wght.ttf') format('truetype');
    /* You can include additional font formats for cross-browser compatibility */
}


*{
    margin: 0px;
    padding: 0px;
    font-family: NotoSans;
    background: #E5E9F4;

}